/***********************************************
* Loading (PACE)
***********************************************/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #009688;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform: translateX(0%) translateY(-100%);
  transform: translateX(0%) translateY(-100%);
  pointer-events: none;
}

.pace.pace-active .pace-activity {
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
}

.pace .pace-activity::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  left: 50%;
  display: block;
  border: 5px solid #fff;
  border-radius: 50%;
  content: '';
}

.pace .pace-activity::after {
  top: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border-top-color: rgba(0, 0, 0, .2);
  -webkit-animation: pace-theme-corner-indicator-spin 1.2s linear infinite;
  animation: pace-theme-corner-indicator-spin 1.2s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-theme-corner-indicator-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

/***********************************************
* Global
***********************************************/
a,
a:hover,
a:focus {
  color: #03a9f4;
}

@media (min-width: 1200px) {
  .container {
    width: 1040px;
  }
}

.form-group {
  margin: 0;
}

.label {
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: 400;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.form-group.form-group-sm.label-floating label.control-label,
.form-group.form-group-sm.label-placeholder label.control-label {
  font-size: 13px;
  top: -16px;
}

/***********************************************
* Icons
***********************************************/
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/***********************************************
* Page header
***********************************************/
.page-header {
  margin: 0 0 40px;
}
.page-header h2 {
  margin: 0;
}


/***********************************************
* Main
***********************************************/
.blog-main {
  font-size: 14px;
  line-height: 1.5;
}

.blog-content {
  padding-top: 320px;
}

/***********************************************
* Sidebar
***********************************************/
.sidebar-module:first-child {
  margin-top: 0;
}

.sidebar-module {
  margin: 30px auto;
}

.sidebar-module h4 {
  margin-bottom: 22px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module .categories li {
  margin: 12px auto;
}

/***********************************************
* Paginations
***********************************************/
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/***********************************************
* Posts
***********************************************/
.blog-post {
  margin-bottom: 30px;
}

.blog-post a {
  text-decoration: none;
}

.blog-comments-title,
.blog-post-title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 400;
  color: #333;
}
.blog-post-meta {
  padding: 16px 22px;
  color: #999;
  display: block;
  border-bottom: 1px solid #EDEDED;
}

.blog-post-date {
  margin: 6px auto;
}

.blog-post-share {
  margin: 10px auto;
}

.blog-post-content {
  padding: 16px 22px;
}

.blog-post-content p {
  color: #999;
  margin: 18px auto;
}

.blog-post-content .btn {
  padding-left: 6px;
  padding-right: 6px;
}

.blog-post p {
  font-size: 13px;
  font-weight: 400;
}

.blog-post .panel-body {
  padding: 0;
}

.blog-post .panel > img {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.blog-comments .panel,
.blog-post .panel {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog-comments:hover .panel,
.blog-post:hover .panel {
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/***********************************************
* Footer
***********************************************/
.blog-footer {
  padding: 40px 0;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-footer a {
  color: #7F7F7F;
  text-decoration: none;
}

.blog-footer a:hover,
.blog-footer a:focus,
.blog-footer a:active {
  color: #000;
}

.blog-footer .brand {
  color: #7F7F7F;
  margin-bottom: 10px;
}

.blog-footer .offset {
  margin: 4px auto;
}

/***********************************************
* Navbar
***********************************************/
.navbar {
  z-index: 999;
}

.navbar .navbar-wrapper {
  padding-top: 180px;
}

.navbar-image {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center 65%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
  /*background-image: url('../img/photo-1449452514032-f1eba6007f52.jpg');*/
}

.navbar-absolute-top {
  width: 100%;
  position: absolute;
}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
  background-color: transparent;
  font-weight: 500;
}

@media (min-width: 768px) {
  .navbar-absolute-top .navbar-right {
    margin-right: -30px;
  }

  .navbar-overlay.navbar-absolute-top .navbar-nav > li {
    background: rgba(0,0,0,0.3);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }

  .navbar-overlay.navbar-fixed-top li {
    background: rgba(0,0,0,0);
     -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
}

/***********************************************
* Labels
***********************************************/
.label-light {
  color: #333333;
}

.label-light,
.label-light.label-default {
  background-color: #EBEBEB;
}
.label-light.label-inverse {
  background-color: #D9DCF0;
}
.label-light.label-primary {
  background-color: #CDEAE7;
}
.label-light.label-success {
  background-color: #DBEFDC;
}
.label-light.label-info {
  background-color: #CDEEFC;
}
.label-light.label-warning {
  background-color: #FFDED3;
}
.label-light.label-danger {
  background-color: #FCDAD7;
}

/***********************************************
* Scroll-to-top colors
***********************************************/
.material-scrolltop.default,
.material-scrolltop.default:hover {
  background: #9e9e9e;
}
.material-scrolltop.default::before {
  background: #757575;
}

.material-scrolltop.inverse,
.material-scrolltop.inverse:hover {
  background: #3f51b5;
}
.material-scrolltop.inverse::before {
  background: #3949AB;
}

.material-scrolltop.primary,
.material-scrolltop.primary:hover {
  background: #009688;
}
.material-scrolltop.primary::before {
  background: #00897B;
}

.material-scrolltop.success,
.material-scrolltop.success:hover {
  background: #4caf50;
}
.material-scrolltop.success::before {
  background: #43A047;
}

.material-scrolltop.info,
.material-scrolltop.info:hover {
  background: #03a9f4;
}
.material-scrolltop.info::before {
  background: #039BE5;
}

.material-scrolltop.warning,
.material-scrolltop.warning:hover {
  background: #ff5722;
}
.material-scrolltop.warning::before {
  background: #F4511E;
}

.material-scrolltop.danger,
.material-scrolltop.danger:hover {
  background: #f44336;
}
.material-scrolltop.danger::before {
  background: #E53935;
}

.material-scrolltop.default,
.material-scrolltop.default:hover,
.material-scrolltop.default::before,
.material-scrolltop.inverse,
.material-scrolltop.inverse:hover,
.material-scrolltop.inverse::before,
.material-scrolltop.primary,
.material-scrolltop.primary:hover,
.material-scrolltop.primary::before,
.material-scrolltop.success,
.material-scrolltop.success:hover,
.material-scrolltop.success::before,
.material-scrolltop.info,
.material-scrolltop.info:hover,
.material-scrolltop.info::before,
.material-scrolltop.warning,
.material-scrolltop.warning:hover,
.material-scrolltop.warning::before,
.material-scrolltop.danger,
.material-scrolltop.danger:hover,
.material-scrolltop.danger::before {
  background-image: url('../icons/top-arrow.svg');
  background-position: center 50%;
  background-repeat: no-repeat;
}

/***********************************************
* Google Maps
***********************************************/
#map {
  width: 100%;
  height: 400px;
}

/***********************************************
* Landing
***********************************************/
#landing-header {
  margin: 50px auto;
}

#landing-header h1 {
  font-size: 40px;
}

#landing-header i {
  color: #7F7F7F;
  font-size: 50px;
}

#landing-styles {
  padding: 26px 0 32px;
  background: #F9F9F9;
}

#landing-styles .style {
  margin: 20px auto;
}

#landing-footer {
  margin: 50px auto;
}

.macbook {
  display: block;
}

.macbook .inner .demo {
  display: block;
  height: 340px;
  background-size: 100% auto;
  background-position: 0 0;
}

@media (max-width: 767px){
  .macbook .inner .demo {
    border-radius: 2px;
    border: 0;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  }
}

@media (min-width: 768px) {
  #landing-header h1 {
    font-size: 50px;
  }

  .macbook {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url('../img/landing/macbook.png');
    overflow: hidden;

    padding: 9px 38px 9px 40px;
    height: 190px;
  }

  .macbook .inner {
    height: 163px;
    overflow: hidden;
  }

  .macbook .inner .demo {
    height: 100%;
    overflow: hidden;
    transition: all 2.4s ease 0s;
  }

  .macbook .inner .demo:hover {  
   background-position: 0 100%;
  }
}

@media (min-width: 992px) {
  .macbook .inner {
    height: 220px;
  }

  .macbook {
    padding: 11px 49px 11px 51px;
    height: 255px;
  }
}

@media (min-width: 1200px) {
  .macbook .inner {
    height: 241px;
  }

  .macbook {
    padding: 10px 54px 10px 57px;
    height: 274px;
  }
}